/* Feedback v1.0.0 */
@import url("https://fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900");
* {
  margin: 0 auto;
  padding: 0;
  position: relative;
  outline: 0;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  font-family: "Mada", sans-serif;
  font-size: 62.5%;
  color: #5e1212;
}

#control-panel {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5e1212;
  display: none;
}

h1 {
  font-size: 7.5em;
  font-weight: bold;
  text-align: left;
}

.wrapper {
  width: 70%;
  min-height: calc(100vh - 10em);
  height: auto;
  padding: 10em 15% 0 15%;
  overflow: auto;
  display: none;
  background-color: #fff;
}

#final-screen {
  color: #fff;
  background-color: #5e1212;
}

.interactive-button {
  margin-top: 1.7em;
  margin-left: 0em;
  padding: 0.1em;
  border: 0.1em solid #5e1212;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 6.75em;
  font-weight: 900;
  text-align: center;
}

.interactive-button:hover {
  background-color: #5e1212;
  color: #fff;
}

.line {
  width: 100%;
  height: 1.2em;
  margin-top: 6.5em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  background-color: #5e1212;
}

.flexbox {
  margin-top: 8em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.flexbox .blocks {
  height: 5em;
  margin: 0.15em;
  padding: 0.5em;
  border: 0.2em solid #5e1212;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #fff;
  /*
        flex-grow: 1;
        flex-basis: 0;
        flex-shrink: 1;
        */
  flex: 1 1 0;
  order: 0;
  align-self: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: #5e1212;
  font-size: 3.5em;
  font-weight: 900;
  text-align: center;
}

.flexbox .blocks:hover,
.flexbox .blocks:focus {
  color: #fff;
  background-color: #5e1212;
}

/* Media Queries */
@media (max-width: 1600px) {
  body {
    font-size: 60%;
  }
}

@media (max-width: 1366px) {
  body {
    font-size: 57.5%;
  }
}

@media (max-width: 960px) {
  body {
    font-size: 55%;
  }
  .wrapper {
    width: 80%;
    min-height: calc(100vh - 8em);
    padding: 8em 10% 0 10%;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 45%;
  }
  .wrapper {
    min-height: calc(100vh - 7em);
    padding-top: 7em;
  }
}
