/* Feedback v1.0.0 */

@import url('https://fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900');
@import 'resources';

$font: 'Mada', sans-serif;
$theme: #fff;
$secondary: #5e1212;

* {
    margin: 0em auto;
    padding: 0em;
    position: relative;
}

body {
    @include select(none);
    background-color: $theme;
    //text properties
    font-family: $font;
    font-size: 62.5%;
    color: $theme;
}

h1 {
    font-size: 7.5em;
    font-weight: bold;
    text-align: left;
}

.wrapper {
    width: 70%;
    min-height: calc(100vh - 10em);
    height: auto;
    padding: 10em 15% 0em 15%;
    overflow: auto;
    display: none;
    background-color: $secondary;
}

.interactive-button {
    margin-top: 1.7em;
    margin-left: 0em;
    padding: 0.1em;
    border: 0.1em solid $secondary;
    @include border-radius(2em);
    cursor: pointer;
    background-color: $theme;
    @include transition(.4s);
    //text properties
    font-size: 6.75em;
    font-weight: 900;
    text-align: center;
}
.interactive-button:hover {
    background-color: $secondary;
    color: $theme;
}

.line {
    width: 100%;
    height: 1.2em;
    margin-top: 6.5em;
    @include border-radius(2em);
    background-color: $secondary;
}

.flexbox {
    margin-top: 8em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    .blocks {
        height: 5em;
        margin: 0.15em;
        padding: 0.5em;
        border: 0.2em solid $secondary;
        @include border-radius(0.25em);
        @include transition(.4s);
        cursor: pointer;
        box-sizing: border-box;
        background-color: $theme;
        //flex properties
        
        //as child
        /*
        flex-grow: 1;
        flex-basis: 0;
        flex-shrink: 1;
        */
        flex: 1 1 0;
        order: 0;
        align-self: auto;
        //as parent
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        //text properties
        color: $secondary;
        font-size: 3.5em;
        font-weight: 900;
        text-align: center;
    }
    .blocks:hover,
    .blocks:focus {
        color: $theme;
        background-color: $secondary;
    }
}

/* Media Queries */

@media (max-width: 1600px) {
    body {
        font-size: 60%;
    }
}

@media (max-width: 1366px) {
    body {
        font-size: 57.5%;
    }
}

@media (max-width: 960px) {
    body {
        font-size: 55%;
    }
    .wrapper {
        width: 80%;
        min-height: calc(100vh - 8em);
        padding: 8em 10% 0em 10%;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 45%;
    }
    .wrapper {
        min-height: calc(100vh - 7em);
        padding-top: 7em;
    }
}