/* Feedback v1.0.0 */

@import url('https://fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900');
@import 'resources';

$font: 'Mada', sans-serif;
$theme: #fff;
$dark: #5e1212;

* {
    margin: 0em auto;
    padding: 0em;
    position: relative;
}

body {
    padding: 10em 15% 0em 15%;
    @include select(none);
    background-color: $theme;
    //text properties
    font-family: $font;
    font-size: 62.5%;
    color: $color;
}

h1 {
    font-size: 7.5em;
    font-weight: bold;
    text-align: left;
}

.interactive-button {
    margin-top: 1.7em;
    margin-left: 0em;
    padding: 0.1em;
    border: 0.1em solid $color;
    @include border-radius(2em);
    cursor: pointer;
    background-color: $theme;
    @include transition(.4s);
    //text properties
    font-size: 6.75em;
    font-weight: 900;
    text-align: center;
}
.interactive-button:hover {
    background-color: $color;
    color: $theme;
}

/* Media Queries */

@media (max-width: 1600px) {
    body {
        font-size: 60%;
    }
}

@media (max-width: 1366px) {
    body {
        font-size: 57.5%;
    }
}

@media (max-width: 960px) {
    body {
        padding: 8em 10% 0em 10%;
        font-size: 52%;
    }
}

@media (max-width: 600px) {
    body {
        padding-top: 7em;
        font-size: 45%;
    }
}